<div style="display:flex; gap:20px;">

    <div style="width:200px; border-right:1px solid #ccc;">
        <h3>Studenci</h3>
        <ul>
            {% for s in students %}
                <li>
                    <a href="{% url 'chat:chat_mentor' s.id %}">
                        {{ s.get_full_name|default:s.email }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div style="flex-grow:1;">
        <h3>Czat ze studentem: {{ selected_student.get_full_name|default:selected_student.email }}</h3>

        <div style="height:300px; overflow-y:scroll; border:1px solid #ccc;">
            {% for msg in messages %}
                <p><strong>{{ msg.sender.email }}:</strong> {{ msg.text }} ({{ msg.sent_at }})</p>
            {% endfor %}
        </div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Wyślij</button>
        </form>
    </div>

</div>
<p><a href="{% url 'accounts:logged' %}">Powrót do panelu użytkownika</a></p>