{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block content %}
  <h1>Strona główna</h1>

  {% if user.is_authenticated %}
    <p>Jesteś zalogowany jako {{ user.email }} — <a href="{% url 'accounts:logged' %}">Przejdź do panelu</a></p>

    <p>
      <form method="post" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Wyloguj</button>
      </form>
    </p>
  {% else %}
    <a href="{% url 'login' %}"><button>Zaloguj się</button></a>
  {% endif %}
<button class="btn btn-primary">
    Przycisk Bootstrap
</button>
{% endblock %}
