<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Witaj</title>
</head>
<body>
  <h1>Witaj, {{ user.first_name }}!</h1>
  {% if not user.first_name %}
    <p>Witaj!</p>
  {% endif %}

    <p>
      <a href="{% url 'onboarding:user_tasks_list' %}" class="btn">Moje zadania</a>
    </p>
    <p>
      <a href="{% url 'onboarding:user_competency_paths_with_tasks' %}" class="btn">Moje ścieżki kompetencji</a>
    </p>
    <p>
    {% if user.is_mentor %}
      <a href="{% url 'chat:chat_mentor_default' %}" class="btn">Czat z moimi studentami</a>
    {% else %}
      <a href="{% url 'chat:chat_student' %}" class="btn">Mój czat</a>
    {% endif %}
    </p>
    {% if user.is_mentor %}
    <p>
      <a href="{% url 'onboarding:mentor_task_management' %}" class="btn">Panel zarządzania zadaniami</a>
    </p>
    {% endif %}
  <p>
    <form method="post" action="{% url 'logout' %}" style="display: inline;">
      {% csrf_token %}
      <button type="submit">Wyloguj</button>
    </form>
  </p>
  <p><a href="/">Strona główna</a></p>
</body>
</html>
